<h3>{{label}}</h3>
<ng-container [formGroup]="controlContainer.control">
  <label>Street:</label>
  <input formControlName="street">

  <label>City:</label>
  <input formControlName="city">

  <label>State:</label>
  <input formControlName="state">

  <label>Zip:</label>
  <input formControlName="zip">
</ng-container>
