<form [formGroup]="profileForm">
  <label>First name:</label>
  <input formControlName="firstName" required>
  <label>Last name:</label>
  <input formControlName="lastName" required>

  <form-address-group label="home" formGroupName="home" required></form-address-group>
  <form-address-group label="work" formGroupName="work" required></form-address-group>
</form>
